{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Palette</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/skel.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style-xlarge.css">
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="">Palette</a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>팔레뜨</h2>
				<p>당신의 감정은...?</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>주요 기능</h2>
						<!-- <p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p> -->
					</header>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-microphone"></i>
								<h3>음성 자연어 처리 후 감정 분석</h3>
								<p>음성을 자연어 처리 한 후 감정 분석</p>
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-camera-retro"></i>
								<h3>얼굴 표정으로 감정 분석</h3>
								<p>얼굴 표정으로 학습된 모델을 통해 감정 분석</p>
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-calendar"></i>
								<h3>감정을 다이어리 기록</h3>
								<p>달력에 내 감정들을 색으로 표현하여 기록</p>
							</section>
						</div>
					</div>
				</div>
			</section>
		
			<!-- <section id="one" class="wrapper style1 special">
				<div class="container">
					
					<div class="main" style="float:left">
						<img src="/static/images/1.png" />
					</div>
					<div class="sub" style="float:right">

					</div>
				</div>
			</section> -->

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>다운로드</h2>
					</header>
					
					<footer>
						<ul class="actions">
							<li>
								<a href="#" class="button big">ios</a>
							</li>
							<li>
								<a href="#" class="button big">Android</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Palette</li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook" href="https://www.facebook.com/hellossafy/"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter" href="https://twitter.com/hashtag/ssafy"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-instagram" href="https://www.instagram.com/hellossafy/?hl=ko" style="background-color:hotpink;"><span class="label">Instagram</span></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>

<style>
	.main {
		
	}
</style>